@import "common/custom";
@import "common/colors";
@import "common/tech-icons";
@import "common/footer";
@import "common/slider";
@import "common/badges";
@import "common/testimonial";
@import "common/icons";
@import "common/vc";

@import "landings/vc_composer1";

#bg-sketch{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    background-position: top;
    background-size: cover;
    z-index: -1;
    display: inline-block;
    top: 0;
    left: 0;
}