.course-template-single-coding-intro{
    background-image: url('../../assets/img/coding-background.jpg');
    background-position-y: 0px;
    .masthead{
        .heading-row{
            padding: 4vh 0 11vh 0;
        }
    }
    section.upcoming-courses,section.upcoming-events{
        .media{
            background: white;
            padding: 5px;
            box-shadow: 0 2px 15px 0 rgba(0,0,0,.1);
            margin-bottom: 15px;
            svg{ height: 18px; }
            .media-body{
                padding: 5px;
                h4{ font-size: 18px; margin-top: 0;}
                p{padding: 2px; margin: 0;}
            }
        }
    }
    @media screen and (min-width: 60em) {
        .masthead{
            .heading-row{
                padding: 10vh 0 20vh 0;
            }
        }
    }
}
