@import "../common/webcharts";

.page-home, .page-inicio{
    background-image: url('../../assets/img/home-bg.jpg');
    .masthead .heading-row{ padding: 0; }
    .tech-icons{font-size: 60px;}
    section{ 
        padding: 50px 0px;
        .card-block {
            border: 0;
            background: inherit;
            .imoon{
                font-size: 90px;
            }
            a{
                text-decoration: underline;
                color: black;
                margin-top: 10px;
            }
        }
        .student-projects{
            margin-top: 20px;
            .card-block {
                margin: 5px 0px 5px 50px;
            }
        }
        img{ max-width: 320px; }
        .call-to-action{ 
            margin: 30px;
            padding: 30px; 
            form{ display:table; margin: 10px auto;}
        }
        .section-message{ padding: 10px; 
            img{margin: 20px auto; display: block;}
        }
        .card.specialty{
            margin: 0;
            margin-bottom: 10px;
            img{max-height: 64px; max-width: 64px; margin: auto;}
            a{text-decoration: none; font-size: 9px; }
        }
    }
    section.part-time{
        img{ max-width: 100%;}
    }
    section.pricing-section{
        .card-block {
            background: $gray-200;
        }
    }
    section .student-projects{
        svg{
            height: 100px;
            width: 100px;
        }
    }
}

/* Small. Above 34em (544px) */
@media screen and (max-width: 34em) {
    section.pricing-section{
        .card h2{font-size: 1rem;}
        .card h3{font-size: 0.8rem;}
        .upfront{ float: left; }
    }
}


section.email-newsletter{
    padding: 20px;
    form{
        margin: auto;
        display: table;
        label{margin-right: 10px;}
        .btn{ margin-left: 10px; }
    }
}
section.call-to-action{
    margin: 0px;
    padding: 30px;
    #request-call{ display: inline-block; }
    form{ display: none; }
} 

/* Medium. Above 48em (768px) */
@media screen and (min-width: 48em) {
    section{
        padding: 60px 0px;
        .section-message{
            padding: 30px 20px;
            font-size: 1.2rem;
        }
    }
}
