.job-template-default{
    .job-header{
        h4,h1{
            color: white;
            .badge{ color: black; }
        }
    }
    .job-description{
        h4,h2,h3,h5{
            margin: 35px 0px;
        }
    }
}

/* Medium. Above 48em (768px) */
@media screen and (min-width: 48em) {
}