.page-template-page-partners{
    background: $gray-800;
    background-image: url('../../assets/img/partners-bg.png');
    .stat{ 
        h3{ font-size: 40px; margin-top: 0; font-weight: 900; 
            small{font-size: 20px;}
        }
        h5{ margin-bottom: 0; }
    }
    blockquote{
        h4,h5{font-style: italic; font-weight: 100;}
    }
}

/* Medium. Above 48em (768px) */
@media screen and (min-width: 48em) {
}