.page-pricing, .page-precio{
    background-color: #3f3f3f;
    background-image: url('../../assets/img/pricing-bg.jpg');
    section{ z-index: 2; position: relative;}
    svg{
        margin: 0px auto;
    }
    .underline:after {
        content: '';
        z-index: -1;
        display: block;
        position: absolute;
        border: solid 6px #007bff;
        border-radius: 100% 0% 100% 2%;
        
        right: 0px;
        top: 40px;
        width: 460px;
    }
}


/* Medium. Above 48em (768px) */
@media screen and (min-width: 48em) {
    
    .page-pricing, .page-precio{
        .underline:after {
            top: 50px;
            right: 50px;
            width: 500px;
        }
    }
}