$outline-width: 0;
$break-point: 48em;
$gray-base:     #999999;
$brand-primary: black; //Zen Blue
$bulletSize: 15px;


.program-menu{display: none !important;}
.page-the-program, .single-full-stack, .single-full-stack-part-time, .single-coding-intro, .single-web-development, .page-venezuela{
    background-image: url('../../assets/img/coding-background.jpg');
    background-position-y: 0px;
    section{ padding: 20px 0;}
    .tech-icons{font-size: 60px;}
    section.instructors{
        .card-deck{
            .card{
                border: none;
                border-radius: 0;
                .card-img-top{
                    border-radius: 0;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
        .circle-img{
          height: 100px; width: 100px;
        }
    }
    section.skills{
      svg{
        width: 75px;
        float: left;
        margin-right: 20px;
      }
    }
    .full-section-background{
      background-size: cover;
      background-position: center center;
    }
    .section-header {
      color: $brand-primary;
      font-weight: 800;
      font-size: 1em;
    }
    .steps-timeline {
      outline: 1px dashed rgba(red, $outline-width);
      
      @media screen and (max-width: $break-point) {
        border-left: 2px solid $brand-primary;
        margin-left: 25px;
      }
      
      @media screen and (min-width: $break-point) {
        border-top: 2px solid $brand-primary;
        padding-top: 35px;
        margin-top: 40px;
        margin-left: 6.65%;
        margin-right: 6.65%;
      }
      
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      &.steps2{
        
      }
    }
    .steps{
      outline: 1px dashed rgba(green, $outline-width);
      
      @media screen and (max-width: $break-point) {
        margin-left: -25px;
      }
      
      @media screen and (min-width: $break-point) {
        float: left;
        margin-top: -50px;
      }
    }
    .steps-timeline.steps2 .steps{
      @media screen and (min-width: $break-point) {
        width: 40%;  
        margin-right: 15%;
        margin-left: 0 !important;
      }
    }
    .steps-timeline.steps3 .steps{
      @media screen and (min-width: $break-point) {
        width: 36%;  
        margin-right: 12%;
      }
    }
    .steps-timeline.steps4 .steps{
      @media screen and (min-width: $break-point) {
        width: 31%;  
        margin-right: 2%;
      }
    }
    .steps-timeline .steps:first-child {
      @media screen and (min-width: $break-point) {
        margin-left: -16%;
      }
    }
    .steps-timeline .steps:last-child {
      @media screen and (max-width: $break-point) {
        margin-bottom: 20px;
      }
      @media screen and (min-width: $break-point) {
        //margin-left: 16.65%;
        margin-right: -16.65%;
      }
    }
    .steps-img {
      display: block;
      margin: auto;
      width: $bulletSize;
      height: $bulletSize;
      background: black;
      border-radius: 50%; 
      @media screen and (max-width: $break-point) {
        float: left;
        margin-right: 20px;
        margin-left: 12px;
      }
    }
    .steps-name{
      margin: 20px 0;
    }
    .steps-description {
      margin-left: 50px;
    }
    .steps-name {
      @extend .section-header;
      
      @media screen and (min-width: $break-point) {
        text-align: center;
      }
    }
    .steps-description {
        overflow: hidden;
        background: #f9f9f9;
        padding: 5px;
        margin-top: 10px;
        min-height: 100px;
      
        @media screen and (min-width: $break-point) {
            text-align: left;
        }
    }
    @media screen and (min-width: 48em) {
        background-color: #3f3f3f;
    }
    // Large devices (desktops, 62em and up)
    @media (min-width: 1500px) { background-position-y: -250px; }
    #course-modules{
      .prework-phase, .profile-phase, .support-phase{
      }
      .multi-phase{
        padding: 0;
        background: white;
        .nav-pills .nav-link{
          color: black;
          position: relative;
          padding: 0.5rem 0.5rem;
          font-size: 14px;
          small{ display: block; margin:0; padding: 0;}
          svg{
            display: none;
            height: 35px;
            width: 35px;
            position: absolute;
            top: 10px;
            right: 0;
          }
          &.sub-pills{
            color: #868e96;
            svg{ top: 5px;}
          }
          &.active{
            svg{
                display: inline-block;
            }
            color: black;
            position:relative;
            background: none;
            border-radius: 0;
            border-right: 0;
            margin-left: 1px;
            box-shadow: 0px 2px 5px 0px rgba(191,191,191,1);
            &:before{
              position: absolute;
              top: 0;
              bottom: 0;
              right: -5px;
              width: 10px;
              background: #FFFF;
              content: ' ';
              z-index: 1;
            }
          }
        }
        .w-shadow{
            box-shadow: 0px 2px 5px 0px rgba(191,191,191,1);
        }
      }
    }
    
}

    
#flip {
  display: block !important;
  overflow:hidden;
  font-size: 20px;
  height:60px;
  font-weight: 900;
  @media screen and (min-width: $break-point) {
    height:80px;
    font-size: 40px;
  }
}
#flip > div > div {
  color:#fff;
  padding: 0px 15px;
  margin-bottom:30px;
  display:inline-block;
}
#flip div:first-child {
  @media screen and (max-width: $break-point) {
    animation: show-mobile 8s linear infinite;
  }
  @media screen and (min-width: $break-point) {
    animation: show-desktop 8s linear infinite;
  }
}
#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}
@keyframes show-mobile {
  0% {margin-top: 0px;} 
  17% {margin-top: 0px;} 
  20% {margin-top:-30px;}
  37% {margin-top:-30px;}
  40% {margin-top:-120px;}
  57% {margin-top:-120px;}
  60% {margin-top:-180px;}
  77% {margin-top:-180px;}
  80% {margin-top:-240px;}
  97% {margin-top:-240px;}
  100% {margin-top:0px;} 
}
@keyframes show-desktop {
    0% {margin-top: 0px;} 
    17% {margin-top: 0px;} 
    20% {margin-top: -90px;}
    37% {margin-top: -90px;}
    40% {margin-top: -180px;} 
    57% {margin-top: -180px;} 
    60% {margin-top: -270px;} 
    77% {margin-top: -270px;} 
    80% {margin-top: -360px;} 
    97% {margin-top: -360px;} 
    100% {margin-top: 0px;}
}

.single-web-development{
  background: url('../../assets/img/black-bg.jpg');
  .masthead{
    .underline:after {
          content: '';
          z-index: -1;
          display: block;
          position: relative;
          border: solid 6px #007bff;
          border-radius: 100% 0% 100% 2%;
          margin: auto;
          top: -10px;
          right: -55px;
          width: 160px;
      }
    .partnership{
      color: #BDBDBD;
      svg{height: 40px;}
      display: block;
    }
  }
}

//Tablets or bigger screens
@media screen and (min-width: 48em) {

    .program-menu{
        margin-top: 30px;
        display: block !important;
        //background: #2c2c35;
        //a{color: white;}
        a:not(.btn){color: black;}
        background: #e8e8e8;
        border-left: 5px solid orange;
        font-size: 15px;
        text-align: right;
        font-weight: 900;
        .nav-link{ padding-right: 0; padding-left: 0;}
        li{padding-right: 10px;}
        li.active{background: #ccc;}
        li:last-child{padding-bottom: 10px;}
    }
    .steps .steps-description {
      margin-left: 0px;
    }
    .single-web-development{
      .underline:after {
          right: -80px !important;
          width: 235px !important;
      }
    }
    
}