//Banner
.titles{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 40%;
    transform: translate(0%,-12%);
    div{
        width: 75%;
        h1{
            color: $yellow;
            font-size: 55px;
            font-weight: 200;
        }
        h2{
            font-size: 50px;
            font-weight: 200;
            color: $grey;
        }
        h3{
            color: $yellow;
            font-size: 40px;
            font-weight: 200;
        }
        p{
            font-weight: 100;
        }
        .btn-1{
            background-color: $red;
            margin-right: 25px;
            color: $white;
            font-size: 16px;
            font-weight: 100;
            width: 220px;
            border-radius: 27px;
            padding: 13px 0px;
        }
        .btn-2{
            background-color: $grey-light;
            color: $white;
            font-size: 16px;
            font-weight: 100;
            width: 220px;
            border-radius: 27px;
            padding: 13px 0px;
        }
    }
}

.event{
    background-color: #373737;
    .container-center{
        display: flex; /* establish flex container */
        flex-direction: row; /* make main axis horizontal (default value) */
        justify-content: center; /* center items horizontally, in this case */
        align-items: flex-start; /* center items vertically, in this case */
        .box-1{
            width: 60%;
            font-size: 38px;
            color: $grey-light;
            font-weight: 200;
        }
        .box-2{
            width: 40%;
            text-align: center;
            .btn-1{
                background-color: $red;
                color: $white;
                font-size: 16px;
                font-weight: 100;
                width: 220px;
                border-radius: 27px;
                padding: 13px 0px;
            }
            p{
                text-decoration: underline;
                color: $yellow;
                font-weight: 100;
            }
        }
    }
}

.goals{
    background-color: $black;
    padding: 80px 0px;
    .title-goals{
        h2{
            font-size: 50px;
            color: $grey-light;
            font-weight: 200;
        }
    }
    .descriptions-goals{
        padding-top: 70px;
        .div-img-goal{
            text-align: center;
            .icon-goal{
                max-width: 70px;
            }
        }
        .first-line{
            font-size: 28px;
            font-weight: 250;
            color: $grey-light;
        }
        .second-line{
            font-size: 16px;
            font-weight: 100;
            color: $grey-light;
        }
    }
}

.skills{
    background-color: $black;
    padding: 80px 0px;
    .title-skills{
        h2{
            font-size: 50px;
            color: $grey-light;
            font-weight: 200;
        }
        p{
            font-size: 16px;
            font-weight: 100;
            color: $grey-light;
        }
    }
    .descriptions-skills{
        padding-top: 30px;
        .flex-skills{
            display: -ms-flexbox;
            display: flex;
            position: relative;
            flex-wrap: wrap;
            div{
                padding-top: 40px;
                img{
                    max-width: 70px;
                }
                p{
                    color:$grey-light;
                    margin: 0px;
                }
            }
        }
    }
}

.tecnologies{
    background-color: $black;
    padding: 80px 0px;
    h2{
        color: $grey-light;
        font-size: 28px;
        font-weight: 300;
    }
    .description-technologies{
        padding-top: 70px;
        .flex-tecnologies{
            display: -ms-flexbox;
            display: flex;
            position: relative;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

.learn-tecnologies{
    background-color: $black;
    padding: 40px 0px;
    .title-learn-technologies{
        h2{
            font-size: 50px;
            color: $grey-light;
            font-weight: 200;
        }
        p{
            font-size: 16px;
            font-weight: 100;
            color: $grey-light;
        }
        a{
            color: $yellow;
            text-decoration: underline; 
            &:hover {
                color: $yellow;
            }
        }
    }
    .flex-learn-technologies{
        display: -ms-flexbox;
        display: flex;
        position: relative;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        align-items: flex-end;
        p{
            font-size: 27px;
            font-weight: 200;
        }
    }
}

.download-pdf{
    background-color: $black;
    padding: 80px 0px;
    .title-download-pdf{
        h2{
            font-size: 50px;
            color: $grey-light;
            font-weight: 200;
            line-height: 60px;
        }
        p{
            font-size: 16px;
            font-weight: 100;
            color: $grey-light;
        }
        .form-pdf{
            color: $grey-light;
            padding-top: 40px;
            .section{
                
                .input-form-pdf{
                    background-color: transparent;
                    border: none;
                    border-bottom: 2px solid $grey-light;
                    width: 100%;
                    margin-bottom: 13px;
                }
            }
        }
    }
}

.event-4geeks{
    background-color: $black;
    padding: 80px 0px;
    .title-event-4geeks{
        h2{
            font-size: 50px;
            color: $grey-light;
            font-weight: 200;
        }
        p{
            font-size: 16px;
            font-weight: 100;
            color: $grey-light;
        }
        .flex-event{
            padding-top: 70px;
            display: -ms-flexbox;
            display: flex;
            position: relative;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            .img-event{
                max-width: 90px;
            }
            .pto{
                height: 7px;
                background-color: $yellow;
                width: 7px;
                border-radius: 25px;
                position: absolute;
                left: 50%;
                z-index: 1;
                transform: translate(-50%);
            }
        }
        .line-project{
            height: 2px;
            background-color: $grey-light;
        }
    }
}

.pricing-4geeks{
    background-color: $black;
    padding: 80px 0px;
    .title-pricing-4geeks{
        color: $grey-light;
        h2{
            font-size: 50px;
            color: $grey-light;
            font-weight: 200;
        }
        p{
            font-weight: 200;
        }
        .section-price{
            padding-top: 70px;
            h3{
                font-size: 30px;
                color: $yellow;
                font-weight: 200;
            }
            p{
                font-size: 16px;
                font-weight: 100;
                color: $yellow;
                margin: 0px;
                text-decoration: underline;
            }
            .flex-pricing{
                display: -ms-flexbox;
                display: flex;
                position: relative;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                .line{
                    height: 1px;
                    background-color: $yellow;
                    position: relative;
                    top: 50%;
                }
                p{
                    color: $yellow;
                    text-decoration: none;
                }
            }
        }
        .section-price-description{
            padding-top: 40px;
            color: $grey-light;
        }
    }
}

.student-graduated-4geeks{
    background-color: $black;
    padding: 80px 0px;
    .title-graduated-4geeks{
        h2{
            font-size: 50px;
            color: $grey-light;
            font-weight: 200;
        }
        p{
            font-size: 16px;
            font-weight: 100;
            color: $grey-light;
        }
        .flex-event{
            padding: 40px 0px;
            display: -ms-flexbox;
            display: flex;
            position: relative;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            .img-student{
                max-width: 90px;
            }
        }
    }
}

.form-subscribe-4geeks{
    background-color: $black;
    padding: 80px 0px;
    .title-subscribe{
        color: $grey-light;
        font-size: 50px;
        font-weight: 200;
    }
    p{
        color: $grey-light;
    }
    .form-subscribe{
        color: $grey-light;
        padding-top: 40px;
        .section{
            .input-form-pdf{
                background-color: transparent;
                border: none;
                border-bottom: 2px solid $grey-light;
                width: 100%;
                margin-bottom: 13px;
            }
        }
    }
}

.footer{
    background-color: $black;
    color: $grey-light;
    padding: 70px 0px;
    .flex-footer{
        width: 100%;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    h3{
        color: $grey-light;
        font-size: 30px;
        font-weight: 200;
    }
    ul{
        list-style: none;
        margin: 0px;
        li{
            margin: 0px;
        }
    }
    .description{
        padding-bottom: 25px;
    }
}


//Course Template
.description-course{
    background-color: $black;
    color: $grey-light;
    padding: 70px 0px;
    h2{
        font-size: 50px;
        color: $grey-light;
        font-weight: 200;
        line-height: 60px;
    }
    h3{
        color: $grey-light;
        font-size: 30px;
        font-weight: 200;
    }
}

.menu-course{
    background-color: $black;
    color: $grey-light;
    padding: 70px 0px;
    .flex-menu-course{
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        .menu{
            width: 14%;
            ul{
                list-style: none;
                padding-left: 10px;
                border-left-color: $yellow;
                border-left-style: solid;
                border-left-width: 1px;
                margin: 0px;
                li{
                    padding-bottom: 10px;
                    font-weight: 200;
                }
            }
        }
        .menu-description{
            ul{
                list-style: none;
                li{
                    padding-bottom: 15px;
                    color: $yellow;
                    .title{
                        margin: 0px;
                        font-size: 30px;
                        font-weight: 200;
                    }
                }
            }

        }
    }
}

.course-structure{
    background-color: $black;
    color: $grey-light;
    padding: 70px 0px;
    h2{
        font-size: 50px;
        color: $grey-light;
        font-weight: 200;       
    }
    .flex-course-structure{
        display: flex;
        display: -webkit-flex;
        width: 100%;
        .description-course{
            width: 60%;
            color: $yellow;
            h3{
                color: $yellow;
                font-size: 30px;
                font-weight: 200;
                margin: 0px;
            }
            .possible-project{
                margin: 0px;
                font-weight: 200;
            }
            p{
                font-weight: 200;
            }
        }
        .menu-course{
            width: 40%;
            color: $yellow;
            ul{
                list-style: none;
                li{
                    padding-bottom: 20px;
                    font-weight: 200;
                }
            }
        }
    }
}

.title-trainer-course{
    background-color: $black;
    color: $grey-light;
    padding: 70px 0px;
    h2{
        margin: 0px;
        font-size: 50px;
        color: $grey-light;
        font-weight: 200;
    }
    p{
        margin: 0px;
    }
}

.trainer-course{
    background-color: $black;
    color: $grey-light;
    padding: 70px 0px;
    h2{
        font-size: 50px;
        color: $grey-light;
        font-weight: 200;       
    }
    p{
        font-weight: 200;
    }
    .flex-trainner-course{
        display: flex;
        display: -webkit-flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        .trainner{
            width: 100%;
            padding-bottom: 20px;
            img{
                margin: 0px;
                padding-right: 15px;
                max-width: 110px;
            }
            span{
                font-weight: 200;
            }
            p{
                padding-top: 15px;
                font-weight: 200;
            }
        }
    }
}

.title-skills-course{
    background-color: $black;
    padding: 70px 0px 30px 0px;
    h2{
        margin: 0px;
        font-size: 50px;
        color: $grey-light;
        font-weight: 200;  
    }
    p{
        color: $grey-light;
        font-weight: 200;
    }
}

.skills-course{
    background-color: $black;
    color: $grey-light;
    padding-bottom: 30px;
    .flex-skill{
        display: flex;
        width: 100%;
        position: relative;
        flex-wrap: wrap;
        img{
            margin: 0px;
            padding-right: 15px;
            max-width: 110px;
        }
        .title-skill{
            h3{
                color: #7D7C7D;
                font-size: 30px;
                font-weight: 200;
                position: absolute;
                bottom: 0px;
            }
        }
        .description-skill{
            p{
                font-weight: 200;
            }
        }
    }
    .description-skills{
        width: 72.5%;
        p{
            font-weight: 200;
        }
    }
}

//Component Course Price&Financing
.pricing-financing{
    background-color: $black;
    padding: 80px 0px;
    .title-pricing{
        color: $grey-light;
        h2{
            font-size: 50px;
            color: $grey-light;
            font-weight: 200;
        }
        p{
            font-weight: 200;
        }
        .section-pricing-financing{
            padding-top: 40px;
            .description-pricing-financing{
                h3{
                    font-size: 30px;
                    color: $yellow;
                    font-weight: 200;
                }
                p{
                    font-size: 16px;
                    font-weight: 100;
                    color: $yellow;
                    margin: 0px;
                }
                button{
                    margin-top: 40px;
                }
            }
            .flex-pricing-financing{
                display: -ms-flexbox;
                display: flex;
                position: relative;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                .line{
                    height: 1px;
                    background-color: $yellow;
                    position: relative;
                    top: 50%;
                }
                p{
                    color: $yellow;
                    text-decoration: none;
                }
            }
        }
        .plan-price{
            .flex-plan-price{
                padding-top: 20px;
                padding-bottom: 70px;
                display: flex;
                display: -webkit-flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                width: 100%;
                .line-red:first-child{
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                }
                .line-red:last-child{
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                }
                .line-red{
                    background-color: red;
                    height: 10px;
                    color: $yellow;
                    .circle{
                        width: 20px;
                        height: 20px;
                        background-color: red;
                        border-radius: 25px;
                        position: relative;
                        top: -4px;
                        border: 1px solid white;
                        cursor: pointer;
                        .point-circle{
                            height: 5px;
                            width: 5px;
                            background-color: white;
                            border-radius: 25px;
                            position: absolute;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            top: 50%;
                            cursor: pointer;
                        }
                    }
                    .only-point-circle{
                        width: 5px;
                        height: 5px;
                        background-color: white;
                        border-radius: 25px;
                        position: absolute;
                        top: 3px;
                        left: 7px;
                        cursor: pointer;
                    }
                    .month-selected{
                        padding-top: 22px;
                    }
                    .month{
                        padding-top: 31px;
                    }
                }
            }
        }
    }
}