.dropdown.dropdown-selector{
    display: inline-block;
    margin-left: -5px;
    .dropdown-toggle::after{
        border-top: 0.3em solid #ddd;
    }
    .dropdown-toggle:hover::after{
        border-top: 0.3em solid black;
    }
    .dropdown-toggle{
        background: rgba(255,255,255,0.9);
        border-width: 0px 1px;
        font-size: 24px;
        @media (max-width: 575px) { font-size: 15px; }
        border: solid #ddd;
        border-width: 0px;
        padding: 10px;
        cursor: pointer;
        svg{height: 20px;}
    }
    &.show{
        .dropdown-toggle{
            border-width: 0px 1px;
            @media (max-width: 575px) { 
                font-size: 15px; left: -60px; 
            }
        }
    }
    .dropdown-menu{
        font-size: 24px;
        border-radius: 0px;
        min-width: 200px;
        &.show{
            .dropdown-item{
                font-size: 80%;
                padding: 0.25rem 0.7rem;
                border: none;
            }
        }
    }
    svg{height: 15px; width: 25px; top: 0px; position: relative;}
    
}