footer{
    background: black;
    padding: 30px;
    font-size: 0.8rem;
    color: $gray-300;
    margin-bottom: 70px;
    a{color: white; }
    hr{ border-top: 2px solid $gray-700; }
    .address-section{
        address{ margin-top: 10px;}
    }
    .company-section{
        font-size: 1rem;
        color: white;
    }
    .social-media{ font-size: 2em; 
        a:hover{ text-decoration: none; color: white; }
    }
    
}
.footer-bar{
    display: none;
    background: #ececec;
    box-shadow: 0 0 16px 0 rgba(50,50,50,0.3);
    height: 80px;
    padding: 10px;
    .media-left{
        display: none;
        svg{
            width: 60px;
            height: 60px;
        }
    }
    .media-body{
        text-align: left;
        @media screen and (min-width: 48em) { text-align: center; }
        padding: 0px 10px;
        h4{font-size: 1rem;}
        h5{font-size: 1rem; display: none;}
    }
    .media-right{
        .btn{
            width: 100%;
        }
    }
    .media-right, .media-right a:not(.btn){
        color: black;
        font-weight: 700;
    }
    .media-right a:not(.btn){
        text-decoration: underline;
    }
}

//Tablets or bigger screens
@media screen and (min-width: 48em) {
    .media-body{
        text-align: center;
        h4{font-size: 1.5rem !important; }
        h5{display: block !important;}
    }
    .media-left{
        display: block !important;
    }
}