.gform_body{
    .gform_fields{
        padding: 0;
        .gfield{
            margin: 10px 0;
            list-style: none;
            @media (min-width: 576px){
                .card-columns { -webkit-column-count: 2; column-count: 2; }
            }
            .gfield_description{
            font-size: 14px;
            padding-left: 5px;
            color: #8c8c8c;
        }
            &.gfield_error .wpas-button-group{
                border: 1px #f5c6cb solid;
                border-radius: 5px 5px 0 0;
            }
            .wpas-button-group{
                .wpas-button-group-btn{
                    background: #f1f1f1;
                    border-radius: 5px;
                    text-align: center;
                    height: 70px;
                    line-height: 70px;
                    cursor: pointer;
                    font-size: 18px;
                    &:hover{
                        background: #BDBDBD;
                    }
                    &.card-inverse{
                        background: #565656;
                        color: white;
                    }
                }
            }
            input, select, textarea{
                display: block;
                width: 100%;
                padding: .5rem .75rem;
                font-size: 1rem;
                line-height: 1.25;
                color: #495057;
                background-color: #fff;
                background-image: none;
                background-clip: padding-box;
                border: 1px solid rgba(0,0,0,.15);
                border-radius: .25rem;
                transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            }
            label{
                font-weight: 900;
            }
            select {
                height: calc(2.25rem + 2px);
            }
        }
        .gfield.gfield_error{
            input{
                border-color: #f5c6cb;
            }
        }
    }
}
.gform_validation_error{
    .validation_error{
        border-radius: 5px;
    }
    .validation_error,.validation_message{
        padding: 10px;
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }
    .validation_message{
        margin-top: -3px;
        border-radius: 0 0 5px 5px;
    }
}
.gform_confirmation_message{
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
.gform_footer{
    button, input[type="button"], input[type="reset"], input[type="submit"]{
        display: block;
        width: 100%;
        color: #495057;
        background-color: #fff;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .25rem;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    input[type="submit"]{
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }
}
