body, html { overflow-x:hidden; }
body{
    background: $background-color;
    color: white;
    font-size: 14px;
}

.navbar{ 
    img{
        max-width: 70px;
        -webkit-transition: width 2s; /* Safari */
        transition: width 2s;
    }
    .collapse.show {
        display: inline-table;
        position: absolute;
        top: 0px;
        z-index: 1;
        background: black;
        width: 100%;
        left: 0;
        height: 100vh;
        text-align: center;
        ul{ margin-top: 55px; }
    }
    .nav-item{
        width: 200px;
        padding-left: 10px;
        .nav-link{
            font-size: 0.8rem;
            text-transform: uppercase;
            font-weight: 800;
            .details{
                display: inline-block;
                font-weight: 300;
                margin-top: 20px;
                text-transform: initial;
            }
        }
    }
}
.navbar-dark .navbar-toggler{ z-index: 2; }

//Tablets or bigger screens
@include media-breakpoint-up(md) { 
    
    .navbar{ margin-top: 50px; 
        img{
            max-width: 140px;
        }
    }
}


.masthead{
    margin-top: 5vh;
    padding: 30px;
    min-height: 32vh;
    .certified{
        margin-top: 60px;
        text-align: center;
        .imoon{ font-size: 20px; color: orange; }
        .florida{ margin-bottom: 20px; }
    }
}

//Tablets or bigger screens
@include media-breakpoint-up(md) { 
    
    .masthead{ 
        h1{ font-size: 3.4rem; }
        margin-top: 60px; 
        .certified{
            margin-bottom: 50px;
            .oi-star{ font-size: 30px;}
            .florida{
                text-align: left;
                margin-bottom: 0px;
            }
        }
    }
    
    section.call-to-action{
        width: 800px;
        margin: auto;
        text-align: center;
        form{display: block;}
        #request-call{display: none;}
    }
}