.carousel-testimonial{
  .carousel-control{
    font-size: 25px;
  }
  .carousel-item{
    text-align: center;
    .testimonial{
      margin-right: 15%;
      margin-left: 15%;
      p{ color: #666; }
      .testimonial h4 {
        margin-bottom: 1.3rem;
        font-weight: 500;
      }
      .avatar{
        margin-bottom: 2rem;
        img { 
          max-width: 170px; 
          border: 2px solid black;
        }
      } 
    }
  }
}

//Tablets or bigger screens
@media screen and (min-width: 48em) {
  .carousel-control{
    font-size: 50px;
  }
}