.chart-wrapper{
    padding: 20px;
    .pie-chart{
        width: 200px !important;
        height: 200px !important;
        margin: auto;
    }
}

/* Medium. Above 48em (768px) */
@media screen and (min-width: 48em) {
    width: 300px !important;
    height: 300px !important;    
}
