
//Used in the background
$dark-grey: #333;
$blue: #4286f4;


$background-color: $dark-grey;
.text-black{color: black};
.text-blue{color: $blue};
.text-orange{color: orange};
.text-black{color: black};